div {
    width: 100%;
    float: left;
}

dt {
    font-weight: 700;
}

.info dt,
.info dd,
.contact dt,
.contact dd {
    float: left;
}

.info dd,
.contact dd {
    margin-left: 10px;
    margin-right:30px;
}

dd{
    margin-left: 0;
}
