* {
    box-sizing: border-box;
}

#email-input {
    display: block;
    margin-bottom: 0;
    width: 180px;
    height: 30px;
}

#email-sug-wrapper {  
    display: inline-block;
    list-style-type: none;              
    padding-left: 0;
    border: 1px solid #ffe2e2;
    margin-top: 0;
    min-width: 180px;
}

#email-sug-wrapper li { 
    height: 30px;
    line-height: 30px;
}
